<!DOCTYPE html>
<html>
<body>

    <button ng-click="redirect()"  class="btn btn-primary" >Add User</button>
    <br><br><br>
    <h3 class="text-info" align="center"> Users <span class="badge">{{numberUsers}}</span></h3>
    <br>
    <button type="button" ng-click="logOut()" class="btn btn-primary">Log Out</button>
    <table class="table">
      <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td> <a style="cursor:pointer" ng-click="editUser(user)">Edit</a></td>
        <td> <a style="cursor:pointer" ng-click="deleteUser(user)">Delete</a></td>
        <br>
      </tr>
    </table>
     <span ng-repeat="i in getNumber(numberPages) track by $index">
          <div <a style="cursor:pointer" ng-click="getUserPage($index)" class="badge">{{$index+1}}</div>
    </span>
    

</body>

</html>
