<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
 <!-- FORM -->
 <div class="container">
 <div class="col-sm-8 col-sm-offset-2">
    <form name="authForm" ng-submit="submitForm()">
    <div class="form-group">
        <label>User Name</label>
        <input type="text" name="userName" class="form-control" ng-model="user.username" required>
        <div class="alert alert-info" ng-show="authForm.userName.$touched && authForm.userName.$invalid">User Name is required</div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required>
         <div class="alert alert-info" ng-show="authForm.password.$touched && authForm.password.$invalid">Password is required</div>
    </div>
    <div class="form-group">
        <div ng-if=error class="alert alert-danger">{{error}}</div>
    <div>
    <button type="submit" value="Submit"  class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</html>