<!DOCTYPE html>
<html>
<head>

</head>
<body ng-app="myApp" ng-controller="userData">
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    <div class="page-header"><h1>{{value}}</h1></div>
    <!-- FORM -->
    <form ng-submit="submitForm()">
    <div class="form-group">
        <label>User Name</label>
        <input type="text" name="userName" class="form-control" ng-model="user.name">

    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password">

    </div>
    <button type="submit" value="Submit"  class="btn btn-primary">Submit</button>
    <button type="button" ng-click="logOut()" class="btn btn-primary">Log Out</button>
    <button type="button" ng-click="redirectToTest()" class="btn btn-primary">Back</button>
    </form>
</div>
</div>
</body>
</html>